
.home {
  position: relative;
  width: 100%;
  height: 100%;

  .block {
    border: 1px solid tomato;
    position: absolute;
    transition: 0.3s linear;
  }

  .block-1 {
    left: 0;
    top: 0;
    width: 60%;
    height: 40%;
  }

  .block-2 {
    right: 0;
    top: 0;
    width: 40%;
    height: 60%;
  }

  .block-3 {
    left: 0%;
    bottom: 0;
    width: 40%;
    height: 60%;
  }

  .block-4 {
    right: 0;
    bottom: 0;
    width: 60%;
    height: 40%;
  }

  .block-center {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
  }
}