
.home {
  position: relative;
  width: 100%;
  height: 100%;

  .block {
    position: absolute;
    cursor: pointer;
    transition: .3s linear;
    border: 1px solid tomato;

    a {
      display: grid;
      width: 100%;
      height: 100%;
      place-items: center;
    }
  }

  .block-1 {
    top: 0;
    left: 0;
    width: 60%;
    height: 40%;
  }

  .block-2 {
    top: 0;
    right: 0;
    width: 40%;
    height: 60%;
  }

  .block-3 {
    bottom: 0;
    left: 0;
    width: 40%;
    height: 60%;
  }

  .block-4 {
    right: 0;
    bottom: 0;
    width: 60%;
    height: 40%;
  }

  .block-center {
    z-index: 1;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background: white;
  }
}
